/* CSS Document for Screens http://www.w3schools.com/howto/howto_js_topnav.asp*/

/*
colors
blue:
    #2EB7CE
    #65D9E1
orange:
    #EEB12E
*/

@import url('https://fonts.googleapis.com/css?family=Crushed|Unica+One|Roboto|Roboto+Condensed');

#page {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10%;
    float: left;
    background-color: #FFFFFF;
    /*border: solid white 1px;*/
}
#pagee {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10%;
    float: right;
    background-color: #FFFFFF;
}
.main{
    background-color: #FFFFFF;
    margin: 10px;
}
.welcome{
   padding: 1em;
    width: 33%;
    position: absolute; 
    left: 56%; 
    bottom: 10em;
    text-align: center;
    line-height: 1.5em;
}

body {
    background: #403936
    /*url(../images/tumblr_mhwizj6POM1r2sq16o1_1280.jpg);*/
    background-size:48.2%;
    background-position: 320px;
  }
h1{
    font-family: Avenir Next Condensed, Roboto Condensed;
    font-size: 1.7em;
    border-bottom: 2px solid #EDC96F;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    width: 100%;
}
h1.contact{
    font-family: crushed;
    border-bottom: none;
    color: #A09F9F;
    font-size: 6em;
}
h2 { 
    font-family: crushed;
    margin: 2%; 
    padding: .2em;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
   }
h3 { 
    margin: 0 0 .5em 0; 
    font-size: 1.3em;
    font-weight: 700;
    font-family: Avenir Next Condensed, Roboto Condensed
   }
a  {
    font-family: Avenir Next Condensed, Roboto Condensed;
    color: black;
    margin: 2%;
    padding: 1%;
   }
a:hover{
    color: #EEB12E;
}
li{
    font-family: Avenir Next Condensed, Roboto Condensed;
}
p{
     font-family: Avenir Next Condensed, Roboto Condensed;
    font-size: 1.7em;
    color: #A09F9F;
    font-weight: 200;
    line-height: 40px
}
p.explore{
    color: black;
}
.explorestuff
{
    padding: 1em;
    position: absolute;  
    bottom: -80em;
    line-height: 1.5em;
    width: 100%;
}
#tips{
    float: right;
    width: 100%;
    margin: -4%;
}
#collection{
    margin: -4%;
}
#creators{
    
}
div.re {
    width: 100%;
    text-align: center;
}

div.re a img {
    display: inline-block;
    width: 270px;
    height: 270px;
    margin: 10px;
    border: 2px solid #403E40;
    text-align: center;
   
    background-color: rgba(171,176,189,0.8);
    transition: background-color .5s;
}
div.box {
    display: inline-block;
    margin: 23px;
    text-align: center;
    height: 270px;
    width: 270px;
}

div.box p {
    margin-left: 13px;
    width: 100%;
    color: #000;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: roboto;
}

.transparent {
   opacity: 1;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

.transparent:hover {
    opacity: 0.46;
    transition: opacity .4s ease-in-out;
}

/*Header*/

header.hero {
    height: 565px;
    width: 738px;
    background: #403936
    url(
../images/LevareBackground.png) no-repeat;
    background-size:100%;
    position: relative;
   }
header.explore {
    height: 565px;
    width: 738px;
    background: #403936
    url(
../images/explorepage.png) no-repeat;
    background-size:100%;
    position: relative;
   }
header.contact {
    height: 78%;
    width: 100%;
    position: absolute;
    top: 170px;
    left: 0px;
   }
header a.logo:hover{
     opacity: 0.7;
    transition: .2s;
    margin-bottom: 4px;
}
header a.logo {
   position: absolute;
    font-size: 5.3em;
    width: 30%; 
    height: 100px;
    background: url(../images/levare.png) no-repeat 0 0;
    padding: 4px;
    bottom: 103%;
    left: .8em;
   }
header a.logo span {
    display: none;
}

/*Section - All*/

section p {
    font-size: 1.7em;
    line-height: 40px;
}
section:after {
    content: '';
    display: block;
    clear: both;
}

/*Section - All*/

section.welcomee {
    padding: 0 40px;
    /*border: solid #65D9E1 1px;
    border-style: dashed;*/
    margin: 1px;
    text-align: center;
}
/*Section - Main*/

section.welcomee.main {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
}
section.welcomee.main aside {
    width: 33%;
    float: left;
    text-align: center;
}
section.welcomee.main .content {
    margin: 15px;
    background: no repeat center top;
    background size: 75px 75px;
    padding-top: 85;
}


/*contact*/
.contactt{
    width: 100%;
    position: absolute; 
    bottom: 9%;
    line-height: 1.5em;
    text-align: center;
}
.thankyou{
    width: 100%;
    position: absolute; 
    bottom: 35%;
    line-height: 1.5em;
    text-align: center;
}

/*input fields*/
#txt-q-extra{
    font-family: Myriad Pro;
    height: 2em;
    color: #888888;
    border: 1.5px solid #888888;
    width: 40em;
}
#txt-r-extra{
    font-family: Myriad Pro;
    height: 15em;
    color: #888888;
    border: 1.5px solid #888888;
    width: 40em;
}
#btn-submit{
    font-family: crushed;
    width: 4em;
    height: 1.5em;
    font-size: 1.1em;
    color: #888888;
    background-color: white;
    border: 1.5px solid #888888;
}
a#btn-home{
    font-family: crushed;
    font-size: 1.1em;
    color: #888888;
}
a#btn-home:hover{
   color: #EEB12E;
}
input{
    padding: 5px;
}

/*Nav*/

nav{
    background-color: rgba();
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px 0 0 0;
    width: 100%;
}
nav:after{
    content: '';
    display: block;
    clear: both;
}
nav ul{
    list-style: none;
    margin: 2em;
}
nav ul li:hover {
    background-color: black;
}
nav ul li:hover > ul {
   display: block;
}
nav ul li a {
    display: inline-block;
    color: #888888;
    text-decoration: none;
    width: 125px;
    margin: 1.6px;
    position: relative;
    transition: 0.3s;
    font-family: crushed;
}
nav ul li a:hover{
    background-color: #000000;
    color: white;
}
ul.disnav li.icon{
    display: none;
}
nav ul ul {
    position: absolute;
    top: 100%;
    background-color: #65D9E1;
    padding: .5em;
    margin: 0 auto;
    display: none;
}
/*top-level*/
nav > ul {
    padding-left: 200px;
}
nav > ul > li {
    float: right;
}
nav > ul > li > a { 
    width: auto; padding: 10px 20px 15px 20px;
}

nav a[aria-haspopup="true"]::after{
    content:'';
    display: block;
    width:  0px;
    height: 0px;
    position: absolute;
    top: 16px;
    right: 15px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid black;
}

nav > ul > li >a[aria-haspopup="true"]::after{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    left: 20px;
    right: auto;
    bottom: 6px;
    top: auto;
}

/*Footer*/

footer{
    font-family: crushed;
    color: #888888;
    position: absolute; 
    float: right;
    bottom: 0px;
    right: 0px;
    margin: 15px;
}
footer.explore{
    font-family: crushed;
    color: #888888;
    position: absolute;
    float: right;
    bottom: -87em;
    right:0px;
    margin: 15px;
}
footer .content {
    display: inline;
}
footer a {
    margin-left: 30px;
    color: #FFFFFF;
}
footer a:hover {
    color: #000000;
}

/*Media Queries*/

@media screen and (max-width: 1164px) {
    #page{
    max-width: 700px;
    margin-top: 21%;
    }
    body{
    background-size: 55%;
    }
    header a.logo {
    right: 17%;
    font-size: 4.7em;
    }
    header.hero{
    height: 300px;
    background-size: 100%;
    }
}

@media screen and (max-width: 930px) {
    #page{
    max-width: 600px;
    margin-top: 32%;
    }
    body{
    background-size: 70%;
    }
    header.hero{
    height: 258px;
    background-size: 100%;
    }
    header a.logo {
    right: 15%;
    font-size: 4.2em;
    }
    }
    h2 { 
    margin: 1%; 
    padding: .1em;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1em;
   }
    h3 { 
    margin: 0 0 .3em 0; 
    font-size: 1.1em;
    font-weight: 700;
   }
    a  {
    color: black;
    margin: 1%;
    padding:.5%;
    font-size: 1.4em;
   }
    p  {
    margin: 3%;
    font-size: .4em;
    line-height: 1.3em;
    }

/*mobile(make smaller nav starting here)*/

@media screen and (max-width: 645px) {
    #page{
    max-width: 500px;
    margin-top: 32%;
    }
    body{
    background-size: 100%;
    }
    header a.logo {
    right:15%;
    font-size: 3.5em;
   }
    header.hero{
    height: 250px;
    background-size: 100%;
    background-image: url(../images/LevareBackground.png)
    }
     h2 { 
    margin: 0%; 
    padding: 0em;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1em;
   }
    a  {
    color: black;
    margin: 1%;
    padding:.2%;
    font-size: .9em; 
   }
    section.main aside {
    width: 100%;
    float: none;
    text-align: left;
    }
    footer div.content {
    display: block;
    margin-top:8px;
    }
}

/*w3schools*/
@media screen and (max-width: 645px) {
    nav{
        background-color: white;
    }
 ul.disnav li {
     display: none;
  }
  ul.disnav li.icon {
    float: left;
    display: inline-block;
  }
 /*ul.disnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }*/
  ul.disnav.responsive li {
    float: none;
    display: inline;
  }
  ul.disnav.responsive li a {
    display: block;
    text-align: left;
    }
    nav ul, nav ul ul, nav ul ul ul{
        display: block;
        position: static;
    }
    nav > ul {
        padding: 0;
    }
    nav > ul > li {
        float: none;
    }
    nav ul ul {
    background-color: transparent;
}

@media screen and (max-width: 550px) {
    #page{
    max-width: 410px;
    margin-top: 36%;
    }
    body{
    background-size: 100%;
    }
    header a.logo {
    right: 12%;
    font-size: 3.1em;
   }
    header.hero{
    height: 210px;
    background-size: 100%;
    }
}
@media screen and (max-width: 448px) {
      #page{
    max-width: 300px;
    margin-top: 57%;
    }
    body{
    background-size: 100%;
    }
    header a.logo {
    right: 11%;
        width: 60%;
    font-size: 2.2em;
    }
    header.hero{
    height: 260px;
    width: 350px;
    background-size: 100%;
    }
     h2 { 
    font-size: 1em;
    line-height: 1em;
   }
    a  {
    font-size: .8em; 
   }
     section p  {
    font-size: .8em;
    width: 290%;
    }
    section h1{
        width: 290%;
    }
    .welcome{
        left: -13px;
        bottom: -5em;
    }
    footer{
        bottom: -13em;
        font-size: .8em;
    }
@media screen and (max-width: 372px) {
    #page{
    max-width: 300px;
    margin-top: 87%;
    }
    body{
    background-size: 100%;
    }
    header a.logo {
    right: 11%;
        width: 60%;
    font-size: 2.2em;
    }
    header.hero{
    height: 160px;
    width: 250px;
    background-size: 100%;
    }
     h2 { 
    font-size: 1em;
    line-height: 1em;
   }
    a  {
    font-size: .8em; 
   }
     section p  {
    font-size: .8em;
    width: 290%;
    }
    section h1{
        width: 290%;
    }
    .welcome{
        left: -13px;
        bottom: -30px;
    }
    footer{
        bottom: -10em;
        font-size: .7em;
    }
}